<div class="container-fluid">
  <div class="row justify-content-center mw-100 full-width">
    <div class="col-lg-3 col-md-4 col-sm-12 info-card">
      <mat-card class="m-5 rounded-card">
        <div class="mt-3 text-center">
          <img
            class="rounded-image"
            src="assets/img/me.jpg"
            alt="Description of the image"
          />
        </div>

        <mat-card-header class="text-center justify-content-center">
          <mat-card-title>{{ "info.name" | translate }}</mat-card-title>
          <mat-card-subtitle>{{
            "info.position" | translate
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="mb-2 row justify-content-center">
            <a
              href="https://t.me/yarik_shkarban"
              target="_blank"
              mat-icon-button
              matTooltip="Telegram"
            >
              <mat-icon>telegram</mat-icon>
            </a>
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              mat-icon-button
              matTooltip="LinkedIn"
            >
              <mat-icon>public</mat-icon>
            </a>
            <a
              href="https://github.com/YShkarban"
              target="_blank"
              mat-icon-button
              matTooltip="GitHub"
            >
              <mat-icon>code</mat-icon>
            </a>
          </div>
          <div class="row mb-3 text-center">
            <mat-icon style="width: auto">alternate_email</mat-icon>
            {{ "info.email" | translate }}
          </div>
          <div class="row mb-3 text-center">
            <mat-icon style="width: auto">smartphone</mat-icon>
            {{ "info.phone" | translate }}
          </div>
          <div class="row mb-3 text-center">
            <mat-icon style="width: auto">location_on</mat-icon>
            {{ "info.location" | translate }}
          </div>
          <div class="row mb-3 text-center">
            <mat-icon style="width: auto">calendar_today</mat-icon>
            {{ "info.birthday" | translate }}
          </div>
          <div class="mt-4 text-center">
            <button
              mat-raised-button
              color="primary"
              class="button-cv button-download"
            >
              {{ "info.downloadCV" | translate }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <button mat-button class="mt-1" style="position: fixed; top: 0; min-width: min-content;" (click)="toggleLanguage()">
        {{ lang }}
      </button>
    </div>
    <div class="col cv-details">
      <mat-card class="mt-5">
        <mat-card-header>
          <mat-card-title>
            {{ "resume.experience.title" | translate }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2">
          <div class="row">
            <div
              class="col"
              style="font-size: 18px"
              [innerHTML]="'resume.experience.firstJob' | translate"
            ></div>
            <div
              class="col-4 text-end"
              [innerHTML]="'resume.experience.firstJobTimeline' | translate"
            ></div>
          </div>
          <div
            style="font-size: 16px; color: #5b5c5b"
            [innerHTML]="'resume.experience.firstJobPosition' | translate"
          ></div>
          <div
            class="mt-2"
            style="margin-left: 15px;line-height: 1.5"
            [innerHTML]="'resume.experience.firstContent' | translate"
          ></div>
        </mat-card-content>
      </mat-card>
      <div class="row">
        <div class="col-md-7">
          <mat-card class="mt-5">
            <mat-card-header>
              <mat-card-title>
                {{ "resume.education.title" | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
              <div class="row">
                <div
                  class="col"
                  style="font-size: 18px"
                  [innerHTML]="'resume.education.university' | translate"
                ></div>
                <div
                  class="col-3 text-end"
                  [innerHTML]="'resume.education.finishYear' | translate"
                ></div>
              </div>
              <div
                style="font-size: 16px; color: #5b5c5b"
                [innerHTML]="'resume.education.direction' | translate"
              ></div>
              <div
                class="mt-2"
                [innerHTML]="'resume.education.degree' | translate"
              ></div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-5">
          <mat-card class="mt-5">
            <mat-card-header>
              <mat-card-title>
                {{ "resume.languages.title" | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
              {{ "resume.languages.ukrLanguage" | translate }}
              <br /><mat-progress-bar
                mode="determinate"
                value="100"
              ></mat-progress-bar>
              <br />
              {{ "resume.languages.polLanguage" | translate }}
              <br /><mat-progress-bar
                mode="determinate"
                value="80"
              ></mat-progress-bar>
              <br />
              {{ "resume.languages.engLanguage" | translate }}
              <br /><mat-progress-bar
                mode="determinate"
                value="70"
                [color]="'aqua'"
              ></mat-progress-bar>
              <br />
              {{ "resume.languages.rusLanguage" | translate }}
              <br /><mat-progress-bar
                mode="determinate"
                value="90"
              ></mat-progress-bar>
              
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <mat-card class="mt-5">
            <mat-card-header>
              <mat-card-title>
                {{ "resume.technologies.title" | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>
                <div class="row">
                  <div
                    class="col-12 mt-2"
                    [innerHTML]="'resume.technologies.backEnd' | translate"
                  ></div>
                  <div
                    class="col-12 mt-2"
                    [innerHTML]="'resume.technologies.frontEnd' | translate"
                  ></div>
                  <div
                    class="col-12 mt-2"
                    [innerHTML]="'resume.technologies.devops' | translate"
                  ></div>
                  <div
                    class="col-12 mt-2"
                    [innerHTML]="'resume.technologies.others' | translate"
                  ></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-5">
          <mat-card class="mt-5 mb-5">
            <mat-card-header>
              <mat-card-title>
                {{ "resume.courses.title" | translate }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2">
              <div
                style="line-height: 1.5"
                [innerHTML]="'resume.courses.list' | translate"
              ></div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
